@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgba(40,40,40,1);
}
                /*Barra de Navegaão*/

header{
    padding: 5px;
    top: 0;
    position:sticky;
    z-index: 1;
    background-color: rgba(40,40,40,1);
    cursor: pointer;
    margin-bottom: 8rem;
    width: 100%;
}
nav{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 70px;
    margin: 0 4rem;
}
#logo{
    margin: 8px 0 0 60px;
    width: 13rem;
    padding: 5px;
}



nav img:hover {
    transition: 0.25s;
    width: 10.1rem;
    border-radius: 5%;
    background-color: rgba(255,255,255,0.05);
}
nav ul li:hover{
    color: rgba( 0,74,173,1);
}




                    /*Corpo do site*/

#conteiner{
    border: red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 24px;
    
}
.session1{
    margin: 0 auto;
    width: 80%;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
}
a{
    text-decoration: none;
    color: white;
}
#apresenta h1 {
    font-size: 2.1rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}
#apresenta p{
    text-align: justify;
}
#foto{
    
}
#foto img{
    opacity: 0.9;
    width: 15rem;
    border: 3.5px solid ;
    border-radius: 50%;
    justify-content: center;
}
#foto img:hover {
    transition: 0.1s;
    border: 3.5px solid rgba(0,74,173,1);
}
#seta  { 
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

#seta img {
    padding: 20px;
    width: 4.5rem;
    border-radius: 50%;
}

#seta img:hover{
    width: 4.8rem;
    padding: 20px;
    border-radius: 50%;
    
}

         /*Session projects*/


.session2{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    margin-bottom: 10rem;
    height: 700px;
}
#caixa-itens{
    display: flex;
    flex-wrap: wrap;
    width:100% ;
    justify-content: center;
}


.itens{
    text-decoration: solid;
    border-radius: 5px;
    margin: 10px;
    width: 40%;
    color: #000;
    background-color: rgba(255,255,255,0.8);
    height: 5rem;
    transition: 0.4s;
}
.itens div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconis-projetos{
    margin: 0 10px;
    gap: 5px;

}
.itens p {
    color:rgba(0,0,0,1);
}
.itens:hover{
    width: 43%;
    height: 5.08rem;
}

         /*Session Redes Sociais*/

.session3{
    border: solid red 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20rem;
    
}

#icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    transition: 0.5s;
    gap: 50px;
    margin-right: 45px;
    
}

#icon ion-icon{
    border-radius: 50%;
    padding: 15px;
    transition: 0.3s;
}
#icon ion-icon:hover{
    font-size: 55px;
    color: rgba(30,100,200,1); ;
    background-color:  rgba(255,255,255,0.05);
    cursor: pointer;
}
h2{
    margin: 30px 0;
    letter-spacing:5px;
    font-size: 2.5rem;
}
@media screen and (max-width: 770px){
    #caixa-itens{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width:100% ;
        justify-content: center;
        align-items: center;
    }
    .session1{
        flex-direction: column;
    }
    #logo{
        margin: 0;
    }
    .itens{
        width: 80%;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    #icon{
        font-size: 30px;
        gap: 30px;
    }
    #icon ion-icon:hover{
        font-size: 33px;
        color: rgba(30,100,200,1); ;
        background-color:  rgba(255,255,255,0.05);
        cursor: pointer;
    }
    #apresenta{
        text-align: center;
    }
    h2{
        letter-spacing:3px;
        font-size: 2rem;
    }

}
